* {
  font-family: Georgia, 'Times New Roman', Times, serif
}

body {
  background-color: salmon;
}

nav {
  text-align: center;
}

#logo {
  background-color: salmon;
  border: solid 5px greenyellow;
  margin-left: auto;
  margin-right: auto;

}

img {
  width: 50vw;
}

header h1 {
  text-align: center;
  background-color: bisque;
  font-size:50px;
  color: pink;
  font-family: 'Dancing Script', cursive; 
}

.introPat {
  line-height: 2;
  padding: 2em; 
  width: 60%;
  text-align: center;
  font-size: large;
}

h3 {
  font-size: 30px;
  background-color: salmon;
  color: white;
  font-family: 'Nanum Myeongjo', serif;
}

table {
  font-family: 'Times New Roman', Times, serif;
  color: black;
  background-color: gold;
}

tr {
  border: solid 5px black;
  padding: 10px;
}

td {
  border: solid 5px black;
  padding: 5px;
  margin: 5px;
}

* {
    font-family: sans-serif;
  }
  
  body {
    background-color: pink
  }
  
  nav {
    text-align: center;
    
  }
  
  #logo {
    background-color: aquamarine;
    border: solid 5px white;
    margin-left: auto;
    margin-right: auto;
  }
  
  img {
    width: 50vw;
  }
  
  h1 {
    text-align: center;
    background-color: green;
    font-size:50px;
    color: green;
    font-family: sans-serif;
  }
  
  h3 {
    font-size: 30px;
    color: white;
  }
  
  table {
    font-family:'Times New Roman', Times, serif;
    color: whitesmoke;
    background-color: pink
  }
  
  tr {
    border: solid 5px gold;
    padding: 10px;
  }
  
  td {
    border: solid 5px beige;
    padding: 5px;
    margin: 5px;
  }
  footer {
    background-color: beige;
    height: auto;
    width: auto;
    margin: auto;
  }

div#imgGroup1 { 
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 8px;
  size-adjust: 20%;
}

div#imgGroup2 {
  text-align: left;
}

div#imgGroup3 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 15px;
}

